openapi: 3.0.0
info:
  title: Lendermarket API - Loan Originator
  version: 1.0.0

servers:
  - url: https://api.lendermarket.com/claims/v1/lender/
    description: Production Environment
  - url: https://api.lendermarket.dev/claims/v1/lender/
    description: Staging Environment

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Bearer authentication of the form Bearer <token>, where token is your auth token.

  schemas:
    # --- Generic Components ---
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "The selected schedule type is invalid."

    # --- Create Loan Components ---
    ScheduleItem:
      type: object
      required: [date, principalAmount, interestAmount]
      properties:
        date:
          type: string
          format: date
          description: Installment Date (YYYY-MM-DD)
        principalAmount:
          type: string
          description: Principal Amount of the Loan
        interestAmount:
          type: string
          description: Interest Amount of the Loan

    ConsumerClient:
      type: object
      required: [firstName, lastName, gender, personalCode]
      properties:
        firstName: { type: string }
        lastName: { type: string }
        gender:
          type: string
          enum: [MALE, FEMALE]
        personalCode: { type: string, description: ID number of the borrower }

    BusinessClient:
      type: object
      required: [companyName, companyRegistryCode, representativeName, representativeCode, collateralValue, currency]
      properties:
        companyName: { type: string }
        companyRegistryCode: { type: string }
        representativeName: { type: string }
        representativeCode: { type: string }
        collateralValue: { type: string }
        currency: { type: string, example: "EUR" }

    # --- Payment Components ---
    PaymentRequest:
      type: object
      required: [loanUuid, currency]
      properties:
        loanUuid: { type: string, format: uuid }
        currency: { type: string, example: "EUR" }
      oneOf:
        - required: [principalAmount, interestAmount, delayedInterestAmount]
          properties:
            principalAmount: { type: string }
            interestAmount: { type: string }
            delayedInterestAmount: { type: string }
        - required: [paymentAmount]
          properties:
            paymentAmount: { type: string }

paths:
  /createLoan:
    post:
      summary: Create a new loan
      tags: [Loans]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lenderLoanId, scheduleType, loanAmount, currency, interestRate, country, lenderIssueDate, clientType, schedule]
              properties:
                lenderLoanId: { type: string, description: Unique ID on lender side }
                scheduleType:
                  type: string
                  enum: [ANNUITY, BULLET, FULL-BULLET, REGULAR]
                loanAmount: { type: string }
                currency: { type: string, enum: [EUR] }
                interestRate: { type: string }
                country: { type: string, description: 3-digit ISO code }
                lenderIssueDate: { type: string, format: date }
                clientType:
                  type: string
                  enum: [CONSUMER, BUSINESS_WITH_COLLATERAL, BUSINESS_WITHOUT_COLLATERAL]
                consumerClient: { $ref: '#/components/schemas/ConsumerClient' }
                businessClient: { $ref: '#/components/schemas/BusinessClient' }
                schedule:
                  type: array
                  items: { $ref: '#/components/schemas/ScheduleItem' }
      responses:
        '201':
          description: Loan created successfully
        '422':
          description: Validation failed (e.g., non-unique ID, invalid currency)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /createLoanExtension:
    post:
      summary: Extend maturity dates of an existing loan
      tags: [Extensions]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, daysToExtend]
              properties:
                loanUuid: { type: string, format: uuid }
                daysToExtend: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Extension processed successfully

  /createLoanBuyback:
    post:
      summary: Request a loan buyback
      tags: [Buybacks]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, reason]
              properties:
                loanUuid: { type: string, format: uuid }
                reason:
                  type: string
                  enum: [AGREEMENT_TERMINATION, AGREEMENT_PROLONGATION, AGREEMENT_AMENDMENT, EARLY_PAYMENT]
      responses:
        '202':
          description: Buyback request accepted and queued

  /payment:
    post:
      summary: Create a payment for an existing loan
      description: Payments are distributed in the order of Delayed Interest, then Interest, then Principal.
      tags: [Payments]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentRequest' }
      responses:
        '201':
          description: Payment successful

  /getLoan:
    get:
      summary: View loan details
      tags: [Loans]
      security:
        - bearerAuth: []
      parameters:
        - name: loanUuid
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Loan details retrieved successfully
        '404':
          description: Loan not found