openapi: 3.0.0
info:
  title: Lendermarket API - Loan Originator
  version: 1.0.0

servers:
  - url: https://api.lendermarket.com/claims/v1/lender
    description: Production Environment
  - url: https://api.lendermarket.dev/claims/v1/lender
    description: Staging Environment

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Bearer authentication of the form Bearer <token>, where token is your auth token.
  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "The selected schedule type is invalid."

    ScheduleItem:
      type: object
      required: [date, principalAmount, interestAmount]
      properties:
        date:
          type: string
          format: date
          description: Installment Date
        principalAmount:
          type: string
          description: Principal Amount of the Loan
        interestAmount:
          type: string
          description: Interest Amount of the Loan

    ConsumerClient:
      type: object
      required: [firstName, lastName, gender, personalCode]
      properties:
        firstName: { type: string, description: "Name of the borrower" }
        lastName: { type: string, description: "Last Name of the borrower" }
        gender: {type: string, enum: [MALE, FEMALE], description: "Gender of the borrower"}
        personalCode: { type: string, description: "ID number of the borrower" }

    BusinessClient:
      type: object
      required: [companyName, companyRegistryCode, representativeName, representativeCode, collateralValue, currency]
      properties:
        companyName: { type: string, description: "Name of the borrower company" }
        companyRegistryCode: { type: string, description: "Company Registration Code" }
        representativeName: { type: string, description: "Company Representative Full Name" }
        representativeCode: { type: string, description: "ID number of Company Representative" }
        collateralValue: { type: string, description: "Collateral value for the loan" }
        currency: { type: string, example: "EUR", description: "Currency of Collateral" }

paths:
  /createLoan:
    post:
      summary: Create Loan
      tags: [Loan Management]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lenderLoanId, scheduleType, loanAmount, currency, interestRate, country, lenderIssueDate, clientType]
              properties:
                lenderLoanId: { type: string, description: "Unique Loan ID on lender side" }
                scheduleType: { type: string, description: "Schedule type of the loan", enum: [ANNUITY, BULLET, FULL-BULLET, REGULAR] }
                loanAmount: { type: string, description: "Total Loan Amount in specified currency" }
                currency: { type: string, enum: [EUR], description: "Current validation restricted to EUR" }
                interestRate: { type: string, description: "Annual interest rate percentage" }
                country: { type: string, description: "Loan Originator country (3 digit ISO code)" }
                lenderIssueDate: { type: string, format: date, description: "Loan’s actual creation date on lender side"  }
                clientType:
                  type: string
                  enum: [CONSUMER, BUSINESS_WITH_COLLATERAL, BUSINESS_WITHOUT_COLLATERAL]
                consumerClient: { $ref: '#/components/schemas/ConsumerClient' }
                businessClient: { $ref: '#/components/schemas/BusinessClient' }
                schedule:
                  type: array
                  items: { $ref: '#/components/schemas/ScheduleItem' }
            example:
              lenderLoanId: "ABC-12345"
              scheduleType: "FULL-BULLET"
              loanAmount: "1000"
              currency: "EUR"
              interestRate: "14"
              country: "EST"
              lenderIssueDate: "2023-01-30"
              clientType: "BUSINESS_WITH_COLLATERAL"
              businessClient:
                companyName: "XYZ-123 Limited"
                companyRegistryCode: "98765-ZYX"
                representativeName: "John Doe"
                representativeCode: "654321-FED"
                collateralValue: "1000"
                currency: "EUR"
              schedule:
                - date: "2023-02-26"
                  principalAmount: "500"
                  interestAmount: "10.50"
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  lenderLoanId: "ABC-12345"
                  status: "ACTIVE"
        '422':
          description: Validation Failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /createLoanExtension:
    post:
      summary: Extend Loan
      tags: [Loan Management]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, daysToExtend]
              properties:
                loanUuid: { type: string }
                daysToExtend: { type: integer, minimum: 1 }
            example:
              loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              daysToExtend: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  uuid: "5bb85f64-5717-34533-b3fc-2c963f66afa6"
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  extendedDays: 10

  /createLoanBuyback:
    post:
      summary: Buyback Loan
      tags: [Loan Management]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, reason]
              properties:
                loanUuid: { type: string }
                reason:
                  type: string
                  enum: [AGREEMENT_TERMINATION, AGREEMENT_PROLONGATION, AGREEMENT_AMENDMENT, EARLY_PAYMENT]
            example:
              loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              reason: "EARLY_PAYMENT"
      responses:
        '202':
          description: Accepted (queued for execution)
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  status: "SENDING"
                  reason: "EARLY_PAYMENT"

  /payment:
    post:
      summary: Create Payment
      description: Either paymentAmount or specific breakdown (principal, interest, delayed interest) must be sent.
      tags: [Financials]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, currency]
              properties:
                loanUuid: { type: string }
                currency: { type: string, default: "EUR" }
                paymentAmount: { type: string }
                principalAmount: { type: string }
                interestAmount: { type: string }
                delayedInterestAmount: { type: string }
            examples:
              RequestByTotal:
                value:
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  paymentAmount: "482"
                  currency: "EUR"
              RequestByBreakdown:
                value:
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  principalAmount: "444"
                  interestAmount: "33"
                  delayedInterestAmount: "5"
                  currency: "EUR"
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                data:
                  uuid: "1re85f64-5717-4562-b3fc-2c963f66afa6"
                  principalAmount: "444"
                  currency: "EUR"

  /getLoan:
    get:
      summary: View Loan Details
      tags: [Loan Management]
      security:
        - bearerAuth: []
      parameters:
        - name: loanUuid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  status: "ACTIVE"
                  interestRate: "14"
                  paymentSchedule:
                    - dueDate: "2023-02-26"
                      totalPrincipalAmount: "1000"
                      paidPrincipalAmount: "500"