openapi: 3.0.0
info:
  title: Lendermarket API - Loan Originator
  version: 1.0.0

servers:
  - url: https://api.lendermarket.com/claims/v1/lender/
    description: Production Environment
  - url: https://api.lendermarket.dev/claims/v1/lender/
    description: Staging Environment

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Bearer authentication of the form Bearer <token>, where token is your auth token.

  schemas:
    ScheduleItem:
      type: object
      required: [date, principalAmount, interestAmount]
      properties:
        date: { type: string, format: date }
        principalAmount: { type: string }
        interestAmount: { type: string }

    ConsumerClient:
      type: object
      properties:
        firstName: { type: string }
        lastName: { type: string }
        gender: { type: string, enum: [MALE, FEMALE] }
        personalCode: { type: string }

    BusinessClient:
      type: object
      properties:
        companyName: { type: string }
        companyRegistryCode: { type: string }
        representativeName: { type: string }
        representativeCode: { type: string }
        collateralValue: { type: string }
        currency: { type: string, default: "EUR" }

paths:
  /createLoan:
    post:
      summary: Create Loan
      tags: [Loans]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lenderLoanId, scheduleType, loanAmount, currency, interestRate, country, lenderIssueDate, clientType]
              properties:
                lenderLoanId: { type: string }
                scheduleType: { type: string, enum: [ANNUITY, BULLET, FULL-BULLET, REGULAR] }
                loanAmount: { type: string }
                currency: { type: string }
                interestRate: { type: string }
                country: { type: string }
                lenderIssueDate: { type: string, format: date }
                clientType: { type: string, enum: [CONSUMER, BUSINESS_WITH_COLLATERAL, BUSINESS_WITHOUT_COLLATERAL] }
                consumerClient: { $ref: '#/components/schemas/ConsumerClient' }
                businessClient: { $ref: '#/components/schemas/BusinessClient' }
                schedule:
                  type: array
                  items: { $ref: '#/components/schemas/ScheduleItem' }
            example:
              lenderLoanId: "ABC-12345"
              scheduleType: "FULL-BULLET"
              loanAmount: "1000"
              currency: "EUR"
              interestRate: "14"
              country: "EST"
              lenderIssueDate: "2023-01-30"
              clientType: "BUSINESS_WITH_COLLATERAL"
              businessClient:
                companyName: "XYZ-123 Limited"
                companyRegistryCode: "98765-ZYX"
                representativeName: "John Doe"
                representativeCode: "654321-FED"
                collateralValue: "1000"
                currency: "EUR"
              schedule:
                - date: "2023-02-26"
                  principalAmount: "500"
                  interestAmount: "10.50"
                - date: "2023-03-28"
                  principalAmount: "500"
                  interestAmount: "5.83"
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  lenderLoanId: "ABC-12345"
                  status: "ACTIVE"
                  loanAmount: "1000"
                  interestRate: "14"
                  country: "EST"

  /createLoanExtension:
    post:
      summary: Extend Loan
      tags: [Extensions]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, daysToExtend]
              properties:
                loanUuid: { type: string }
                daysToExtend: { type: integer }
            example:
              loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              daysToExtend: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  uuid: "5bb85f64-5717-34533-b3fc-2c963f66afa6"
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  extendedDays: 10
                  paymentDate: "2023-02-26"
                  paymentSchedule:
                    - dueDate: "2023-03-08"
                      totalPrincipalAmount: "1000"
                      totalInterestAmount: "15"
                      paidPrincipalAmount: "500"

  /createLoanBuyback:
    post:
      summary: Buyback Loan
      tags: [Buybacks]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, reason]
              properties:
                loanUuid: { type: string }
                reason: { type: string, enum: [AGREEMENT_TERMINATION, AGREEMENT_PROLONGATION, AGREEMENT_AMENDMENT, EARLY_PAYMENT] }
            example:
              loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              reason: "EARLY_PAYMENT"
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  status: "SENDING"
                  paymentDate: "2023-02-28"
                  reason: "EARLY_PAYMENT"

  /payment:
    post:
      summary: Create Payment
      tags: [Payments]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanUuid, currency]
              properties:
                loanUuid: { type: string }
                currency: { type: string }
                paymentAmount: { type: string }
                principalAmount: { type: string }
                interestAmount: { type: string }
                delayedInterestAmount: { type: string }
            examples:
              SpecificBreakdown:
                value:
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  principalAmount: "444"
                  interestAmount: "33"
                  delayedInterestAmount: "5"
                  currency: "EUR"
              TotalAmountOnly:
                value:
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  paymentAmount: "482"
                  currency: "EUR"
      responses:
        '201':
          description: Created
          content:
            application/json:
              example:
                data:
                  uuid: "1re85f64-5717-4562-b3fc-2c963f66afa6"
                  loanUuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  principalAmount: "444"
                  interestAmount: "33"
                  delayedInterestAmount: "5"
                  currency: "EUR"

  /getLoan:
    get:
      summary: View Loan
      tags: [Loans]
      security:
        - bearerAuth: []
      parameters:
        - name: loanUuid
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  status: "ACTIVE"
                  totalTermInDays: 26
                  interestRate: "14"
                  paymentSchedule:
                    - dueDate: "2023-02-26"
                      totalPrincipalAmount: "1000"
                      outstandingPrincipalAmount: "0"
                      paidPrincipalAmount: "500"