openapi: 3.0.0
info:
  title: Lendermarket API - Loan Originator
  version: 1.0.0

servers:
  - url: https://api.lendermarket.com/claims/v1/lender
    description: Production Environment
  - url: https://api.lendermarket.dev/claims/v1/lender
    description: Staging Environment

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Bearer authentication of the form Bearer <token>, where token is your auth token.
  schemas:
    ClientType:
      type: string
      enum:
        - CONSUMER
        - BUSINESS_WITH_COLLATERAL
        - BUSINESS_WITHOUT_COLLATERAL

paths:
  /createLoan:
    post:
      summary: Create Loan
      tags: [Loan Management]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientType]
              properties:
                clientType: { $ref: '#/components/schemas/ClientType' }
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                data:
                  uuid: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  lenderLoanId: "ABC-12345"
                  status: "ACTIVE"
